# Unpacked / development Chrome extension configuration
API_URL=https://pastec.ihu-liryc.fr
KEYCLOAK_BASE_URL=https://pastec.ihu-liryc.fr/auth
KEYCLOAK_REALM=pastec
KEYCLOAK_CLIENT_ID=pastec_plugin_dev
